* {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html{
     background-color: rgb(251, 236, 220);
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(56, 54, 54);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav-list {
    display: flex;
}

.nav-list i {
    color: aliceblue;
}

.drop {
    width: 4em;
}

.drop i {
    width: 4em;
    color: aliceblue;
}

.drop-list {
    display: none;
}

.drop:hover .drop-list{
    display: block;
    top: 3.2em;
    position: absolute;
    background-color: rgb(56, 54, 54);
}

.nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color:aliceblue;
}

.nav-bar-logo a{
    padding: 0;
}
.nav-bar-logo img{
    padding-left: 0.5em;
    width:11em;
}

.nav-list a:hover{
    color: #4dd059;
    background-color: #444444;
}

.auth-btn {
  background-color: #525252; /* Button background color */
  color: aliceblue; /* Button text color */
  padding: 5px 20px; /* Button padding */
  font-size: 16px; /* Button font size */
  border: 1px solid aliceblue; /* Remove the default button border */
  border-radius: 50px; /* Rounded corners */
  cursor: pointer;
  margin-top: 0.8em;
  margin-right: 0.4em;
  height: 2em;
}

.auth-btn:hover {
  color: #4dd059;
  background-color: #444444;
}

.content-wrapper>.content {
    margin: 6em 4em;
    flex-grow: 1;
}

.user-label{
    display: flex;
    align-items: center;
    color: green;
    margin-right: 0.7em;
}

.footer {
    display: inline-block;
    background-color: #373436;
    color: #fff;
    padding: 2em 4em ;
    align-items: center;
}
.footer-policy p{
    font-size: 13px;
}

.footer-contacts {
    float: right;
    margin: 0 0 1em 1em;
}

.social-text {
    margin-bottom: 0.5em;
}
.social-icons a{
    color: white;
}

.social-icons i{
    font-size: 1.4em;
}