{% extends "base.html" %}

{% load static %}

{% block content %}

  <link rel="stylesheet" href="{% static 'edostavka/css/auth.css' %}?v=2"/>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

{#  {% if next %}#}
{#    {% if user.is_authenticated %}#}
{#      <p>Your account doesn't have access to this page. To proceed,#}
{#      please login with an account that has access.</p>#}
{#    {% else %}#}
{#      <p>Please login to see this page.</p>#}
{#    {% endif %}#}
{#  {% endif %}#}
<div class="auth">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="log-form">
      <div class="form-label">
        {{ form.username.label_tag }}
      </div>
      <div>
        {{ form.username }}
      </div>
      <div class="form-label">
        {{ form.password.label_tag }}
      </div>
      <div>
        {{ form.password }}
      </div>
      <div style="text-align: center; margin-top: 10px;">
        <button type="submit">Login</button>
      </div>
    </div>
  </form>
</div>


{% endblock %}
