{% extends "base.html" %}
{% block content %}

    <div class="client-detail-page">

      <section class="header">
          <h1>Client Detail</h1>
      </section>
      <br>
      <section class="clients-data">
        <p>Username: {{ usr.username }}</p>
        <p>Email: {{ usr.email }}</p>
        <p>Last login: {{ usr.last_login }}</p>
      </section>
      <br>
      <br>
      <br>
      <section class="orders-list">
        <ul>
        {% for item in ordrs %}
          <li>
            <strong>{{ item.order }}</strong>
            <ul>
              {% for item in item.order_items %}
                <li>{{ item.0 }}</li>
              {% endfor %}
            </ul>
          </li>
          <br>
        {% endfor %}
        </ul>
      </section>





      <div>
        <canvas id="salesChart" width="400" height="200"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('salesChart').getContext('2d');
        var dates = {{ dates|safe }};
        var salesCount = {{ sales_count|safe }};

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Sales',
                    data: salesCount,
                    borderColor: 'blue',
                    backgroundColor: 'rgba(0, 0, 255, 0.2)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                day: 'MMM D'
                            }
                        },
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Sales Count'
                        }
                    }
                }
            }
        });
    </script>
    </div>
{% endblock %}