{% extends "base.html" %}
{% block content %}

    <div class="client-detail-page">

      <section class="header">
          <h1>Client Detail</h1>
      </section>
      <br>
      <section class="clients-data">
        <p>Username: {{ usr.username }}</p>
        <p>Email: {{ usr.email }}</p>
        <p>Last login: {{ usr.last_login }}</p>
      </section>
      <br>
      <br>
      <br>
      <section class="orders-list">
        <ul>
        {% for item in ordrs %}
          <li>
            <strong>{{ item.order }}</strong>
            <ul>
              {% for item in item.order_items %}
                <li>{{ item.0 }}</li>
              {% endfor %}
            </ul>
          </li>
          <br>
        {% endfor %}
        </ul>
      </section>
    </div>
{% endblock %}