{% extends "base.html" %}

{% load static %}


{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'cart/css/detail.css' %}?v=5"/>

  <div class="cart-page">

    <section class="header">
      <h1>Your shopping cart</h1>
    </section>

    <section class="cart-items">
      <table class="cart-table">
      <colgroup>
        <col>
        <col>
      </colgroup>
        <tbody>
          {% for item in cart %}
              {% with product=item.product %}
                  <tr>
                    <td>
                      <div class="item-img">
                        {% with image=product.img_url %}
                        <img src="{% static image %}" alt="">
                        {% endwith %}
                      </div>
                    </td>
                    <td>
                      <div class="item-info">
                        <a href="{{ product.get_absolute_url }}"><strong>Product: </strong>{{ product.title }}</a>
                        <br>
                        <p><strong>Price (unit): </strong>{{ item.price }}$</p>
                        <p><strong>Quantity: </strong>{{ item.quantity }}</p>
                        <a href="{% url 'cart:cart_remove' product.id %}" class="rem-link">Remove</a>
                      </div>
                    </td>
                  </tr>
              {% endwith %}
          {% endfor %}
        </tbody>
      </table>
      <h2 class="total-price">Total: {{ cart.get_total_price }} $</h2>
    </section>

    <form action="{% url 'order:order_create' %}" method="POST" class="order-form">
      {{ form.as_p }}
      <p><input type="submit" value="Checkout" class="pay-link"></p>
      {% csrf_token %}
    </form>

  </div>




{% endblock %}