{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'back_info/css/about_us.css' %}?v=2"/>

<div class="about-us-page">
  <div class="about-us-info">
    <h2>About us</h2>
    <img src="{% static 'back_info/images/about_company.png' %}" alt="">
    <p>Для жителей г. Минска (зона А, А1), доступна «Экспресс-доставка», которая позволит получить заказ в самые короткие сроки. Услуга имеет ряд очевидных преимуществ, которые вы наверняка оцените по достоинству:</p>
    <br>
    <ul>
      <li>Более короткий интервал ожидания заказа (от 30 минут).</li>
      <li>Минимальная сумма заказа — 1 копейка.</li>
      <li>Оформление «Экспресс-доставки» возможно до 22:00, тогда как заказ доставки в обычном режиме доступен до 21:30.</li>
    </ul>
    <br>
    <p>Оформить заказ на «Экспресс-доставку» вы можете вне зависимости от загрузки складов и службы логистики.
      <br>
      <br>
      В случае опоздания водителя-экспедитора клиент освобождается от оплаты услуги.
      <br>
      <br>
      В зависимости от объема заказа время «Экспресс-доставки» может варьироваться:</p>
    <br>

      <div class="time-table">
        <div class="goods-amount">
          <p>Количество товаров в заказе (шт.) <br><br> до 30 <br><br> 31-50 <br><br> 51-70 <br><br> 71-90 <br><br> и т.д. </p>
        </div>
        <div class="min-time">
          <p>Минимальное время доставки (мин.) <br><br> 30 <br><br> 40 <br><br> 50 <br><br> 60 </p>
        </div>
        <div class="max-time">
          <p>Максимальное время доставки (мин.) <br><br> 60 <br><br> 70 <br><br> 80 <br><br> 90 </p>
        </div>
      </div>
    <br>
    <p>Cтоимость услуги составляет 9,99 бел.рублей (Минск: зона А, А1) с учётом НДС по ставке 20%.
      <br>
      <br>
        Edostavka.by – выбирай удобную жизнь!</p>

    <div class="video">
      <video src="{% static 'back_info/video/edostavka-delivery.mp4' %}" controls></video>
    </div>

  </div>
</div>
{% endblock %}