{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'back_info/css/about_us.css' %}?v=4"/>

<div class="about-us-page">

    <div class="header">
      <h2>О компании</h2>
    </div>

    <article class="info">
      <img src="{% static 'back_info/images/about_company.png' %}" alt="">
      <p>Для жителей г. Минска (зона А, А1), доступна «Экспресс-доставка», которая позволит получить заказ в самые короткие сроки. Услуга имеет ряд очевидных преимуществ, которые вы наверняка оцените по достоинству:</p>
      <br>
      <ul>
        <li>Более короткий интервал ожидания заказа (от 30 минут).</li>
        <li>Минимальная сумма заказа — 1 копейка.</li>
        <li>Оформление «Экспресс-доставки» возможно до 22:00, тогда как заказ доставки в обычном режиме доступен до 21:30.</li>
      </ul>
      <br>
      <p>Оформить заказ на «Экспресс-доставку» вы можете вне зависимости от загрузки складов и службы логистики.
        <br>
        <br>
        В случае опоздания водителя-экспедитора клиент освобождается от оплаты услуги.
        <br>
        <br>
        В зависимости от объема заказа время «Экспресс-доставки» может варьироваться:</p>
      <br>

      <div class="time-table">
        <div class="goods-amount">
          <p>Количество товаров в заказе (шт.) <br><br> до 30 <br><br> 31-50 <br><br> 51-70 <br><br> 71-90 <br><br> и т.д. </p>
        </div>
        <div class="min-time">
          <p>Минимальное время доставки (мин.) <br><br> 30 <br><br> 40 <br><br> 50 <br><br> 60 </p>
        </div>
        <div class="max-time">
          <p>Максимальное время доставки (мин.) <br><br> 60 <br><br> 70 <br><br> 80 <br><br> 90 </p>
        </div>
      </div>

      <br>
      <p>Cтоимость услуги составляет 9,99 бел.рублей (Минск: зона А, А1) с учётом НДС по ставке 20%.
      <br>a
      <br>
        Edostavka.by – выбирай удобную жизнь!</p>

    <div class="video">
      <video src="{% static 'back_info/video/edostavka-delivery.mp4' %}" controls></video>
    </div>

  </article>

    <div class="contacts-wrapper">
      <div class="contacts">
        <h3>Контакты</h3>
        <p>Почтовый адрес ЗАО «Интернет-магазин Евроопт»: 220019, г. Минск, а/я 19
          <br>
          <br>
          <br>
          Адрес электронной почты:
          <br>
          info@e-dostavka.by
          <br>
          <br>
          <br>
          Телефон контакт-центра:
          <br>
          537-08-09 МТС, A1, life:)
          <br>
          Режим работы: 8:30-20:30
          <br>
          <br>
          <br>
          Вы можете связаться с нами посредством онлайн-чата на сайте, а также viber и telegram.
        </p>
      </div>

      <div class="certificates">
        <h3>Certificates</h3>
        <img src="{% static 'back_info/images/certificate_1.jpeg' %}" alt="">
        <img src="{% static 'back_info/images/certificate_2.jpeg' %}" alt="">
        <img src="{% static 'back_info/images/certificate_3.jpeg' %}" alt="">
      </div>

    </div>

    <article class="history">
    <h2>Наша история развития</h2>
    <p><span class="year">1993</span>: Запуск бизнеса: Владимир Василько и Сергей Литвин основали компанию, основная деятельность которой – мелкооптовая торговля продуктами питания.
      <br><br>
      <span class="year">1997</span>: Евроторг является одним из крупнейших продовольственных оптовых операторов в Беларуси. Компания начинает развитие в ритейле и запускает 1-й магазин под брендом «Евроопт».
      <br><br>
      <span class="year">2008</span>: Основатели Компании принимают решение сфокусироваться на продовольственном ритейле, который становится ключевым направлением бизнеса. МСФО-отчетность Евроторга аудируется компанией «Big-4».
      <br><br>
      <span class="year">2010</span>: Евроторг ‒ первый современный ритейлер, магазины которого присутствуют во всех областях страны.
      <br><br>
      <span class="year">2012</span>: Евроторг привлекает долгосрочное финансирование от ЕБРР, знакового международного инвестора.
Количество магазинов сети на конец года превышает 100.
      <br><br>
      <span class="year">2014</span>: Евроторг запустил первый в стране онлайн сервис по доставке продуктов питания – E-dostavka.by
      <br><br>
      <span class="year">2015</span>: В течение 2014-2015 розничная сеть демонстрирует двукратный рост: количество магазинов превысило 430. Евроторг побеждает в номинации «Лучший ритейлер года» в рамках престижного конкурса Europa Property.
      <br><br>
      <span class="year">2016</span>: Развитие международного партнерства: подписано соглашение о совместных закупках с Лентой, крупным ритейлером в России.
      Запуск Gipermall.by – онлайн гипермаркета с широким ассортиментом непрод. товаров и бакалеи.
      <br><br>
      <span class="year">2017</span>: Компании присвоены международные кредитные рейтинги Fitch и S&amp;P, соответствующие страновым. Евроторг успешно дебютирует на международных рынках капитала, разместив еврооблигации в размере 350 млн USD на Ирландской фондовой бирже.
      <br><br>
      <span class="year">2018</span>: Развитие магазинов «Евроопт» в сельских населенных пунктах, где наблюдается низкий уровень проникновения современных форматов.
      <br><br>
      <span class="year">2019</span>: Евроторг стал первой компанией не из России, получившей кредитный рейтинг российского рейтингового агентства. Компания разместила два выпуска облигаций общим объемом 10 млрд RUB и привлекла синдицированный кредит от российских банков объемом 3,5 млрд RUB.
      <br><br>
      <span class="year">2020</span>: В рамках мультивалютной программы биржевых облигаций на Московской бирже был размещен выпуск в размере 5 млрд RUB, после чего суммарный объем облигаций Евроторга на российском рынке увеличился до 15 млрд RUB.
      В октябре 2020 года Компания выпустила пятилетние еврооблигации объемом 300 млн USD, направив привлеченные средства на выкуп облигаций 2017 года, погашение которых должно было осуществляться в 2021-2022 годах.
      <br><br>
      <span class="year">2021</span>: В марте Компания успешно разместила пятилетние биржевые облигации на Московской бирже объемом 3,5 млрд российских рублей, сформировав вторичную кривую (в обращении есть 3-летние, 4-летние и 5-летние облигации), которая будет ориентиром для новых выпусков облигаций компании.
      В июне второй выпуск еврооблигаций Евроторга был признан самым успешным в номинации «Лучшая сделка первичного размещения Беларуси» Cbonds Awards CIS – 2021.
      В 2021 году Компания продолжила развитие формата дискаунтеров: мягких дискаунтеров под баннером «Хит!» и жестких дискаунтеров под баннером «Грошык».
      <br><br>
      <span class="year">2022</span>: В 2022 году Евроторг придерживался умеренной программы открытий магазинов с фокусом на операционную эффективность. Компания продолжила развитие программы лояльности и запущенного в декабре 2021 года мобильного приложения «Е-плюс».
    </p>
  </article>
</div>
{% endblock %}