{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'back_info/css/coupons.css' %}?v=2"/>

<div class="coupons-page">
  <section class="header">
    <h1>Купоны</h1>
  </section>
  <section class="active">
     <p>Действующие:</p>
     <p>"5050" - Скидка 5% на первую доставку</p>
  </section>
  <br>
  <br>
  <section class="expired">
     <p>Истекшие:</p>
     <p>"7070" - Скидка 15% на достаку от 100 рублей и выше</p>
  </section>


{#  <img srcset="{% static 'edostavka/images/milk.png' %} 1x,#}
{#               {% static 'edostavka/images/cola.jpg' %} 2x,#}
{#               {% static 'edostavka/images/fanta.jpg' %} 3x,#}
{#               {% static 'edostavka/images/sprite.jpeg' %} 4x,#}
{#               {% static 'edostavka/images/cheese.jpeg' %} 5x,#}
{#               {% static 'edostavka/images/cucumber.png' %} 6x"#}
{#       sizes="(max-width: 480px) 15vw, (max-width: 768px) 15vw, (max-width: 1100px) 35vw, (max-width: 1500px) 75vw"#}
{#       src="{% static 'edostavka/images/euroopt-banner-1.jpeg' %}">#}


</div>

{% endblock %}