{% extends "back_info/news_0.html" %}
{% block title %}Просто звёзды сошлись!{% endblock %}
{% load static %}

  {% block news-title %}Просто звёзды сошлись!{% endblock %}
  {% block news-date %}09 августа 2023{% endblock %}
  {% block news-img %}<img src="{% static 'back_info/images/news-3.jpeg' %}?v=2" alt="">{% endblock %}
  {% block news-text %}
    <section class="news_x_text">
      <br>
      <p>По итогам розыгрыша 181 тура рекламной игры «Удача в придачу» новенький Audi4 достался покупателю Edostavka.</p>
      <br>
      <br>
      <p>Вот он, герой прошлого тура — Алексей Немкович, инженер по метрологии завода имени С. И. Вавилова и новоиспеченный обладатель стильного автомобиля Audi A4. Живёт Алексей с мамой в агрогородке Ждановичи под Минском и ещё успел вечером после пятничного розыгрыша примчаться в студию, чтоб полюбоваться на своего красавца цвета чёрный металлик. А на вручение приза во вторник порадоваться за него пришла вся семья!</p>
      <br>
      <p>Алексей говорит, что зарегистрировался как участник игры пару лет назад, но не делал из неё культа:</p>
      <p>- Прицельно «товары удачи» не брал и ни разу ничего не выигрывал. Поэтому и верилось, что может повезти, не особо. Когда позвонили из студии, мы с мамой ужином занимались… У обоих был шок, чуть ли не убеждать друг друга пришлось, что все это правда. Да даже когда вечером в пятницу сидел в машине, не до конца свою удачу осознавал, только через несколько дней привык к этой мысли. </p>
      <p>- Я в тот вечер была на даче, - вспоминает бабушка Алексея. – Звонит дочка: «Мама, ты сидишь или стоишь? Если стоишь – сядь…» Я прямо обмерла. Но она мне сразу: «Не волнуйся, ничего плохого не произошло, наоборот, наш Леша выиграл машину!» Что сказать, просто руки затряслись. А дедушке об этом сообщили только через 3 дня, буквально вчера!</p>
    </section>
  {% endblock %}

  {% block news-3 %}
    <a class="news-card-link" href="{% url 'back_info:news_0' %}">
      <div class="news-card">
        <div class="card-img">
          <img src="{% static 'back_info/images/news-0.jpeg' %}?v=2" alt="">
        </div>
        <div class="card-descr">
          <span class="light_gray">28 августа 2023</span>
          <br>
          <br>
          <h4>1+1 на Edostavka</h4>
        </div>
      </div>
    </a>
  {% endblock %}