{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'back_info/css/news.css' %}?v=6"/>

<div class="news-page">
  <article class="news-content">
    <h1>Новости</h1>

    <div class="main-news">
        <div class="main-news-img">
          <a href="{% url 'back_info:news_5' %}"><img src="{% static 'back_info/images/news-5.jpeg' %}?v=2" alt=""></a>

          <div class="main-news-descr">
            <span class="light-gray">28 марта 2023</span>
            <br>
            <br>
            <h4>Важно!</h4>
            <br>
            <span class="light-gray">Обновление условий доставки</span>
          </div>
        </div>

      <div class="news-list">
        <h2>Популярные новости</h2>
        <a href="{% url 'back_info:news_5' %}">Пусть осень принесет свои плоды! Стартовал сентябрьский тур игры «Удача в придачу!»<span class="light-gray">&ensp;01 сентября 2023</span></a>
        <a href="{% url 'back_info:news_0' %}">1+1 на Edostavka<span class="light-gray">&ensp;28 августа 2023</span></a>
        <a href="{% url 'back_info:news_1' %}">Итальянские травы в подарок от Edostavka.by и Gurmina!<span class="light-gray">&ensp;16 августа 2023</span></a>
        <a href="{% url 'back_info:news_2' %}">Всё для любимых покупателей!<span class="light-gray">&ensp;09 августа 2023</span></a>
        <a href="{% url 'back_info:news_3' %}">Просто звёзды сошлись!<span class="light-gray">&ensp;09 августа 2023</span></a>
        <a href="{% url 'back_info:news_4' %}">Приятный подарок от Edostavka<span class="light-gray">&ensp;08 августа 2023</span></a>
      </div>
    </div>


    <div class="all-news">
      <h2>Все новости</h2>

      <a class="news-card-link" href="{% url 'back_info:news_0' %}">
        <div class="news-card">
          <div class="news-img">
            <img src="{% static 'back_info/images/news-0.jpeg' %}?v=2" alt="">
          </div>
          <div class="news-descr">
            <span class="light-gray">28 августа 2023</span>
            <br>
            <br>
            <h4>1+1 на Edostavka</h4>
          </div>
        </div>
      </a>

      <a class="news-card-link" href="{% url 'back_info:news_1' %}">
        <div class="news-card">
          <div class="news-img">
            <img src="{% static 'back_info/images/news-1.jpeg' %}?v=2" alt="">
          </div>
          <div class="news-descr">
            <span class="light-gray">16 августа 2023</span>
            <br>
            <br>
            <h4>Итальянские травы в подарок от Edostavka.by и Gurmina!</h4>
          </div>
        </div>
      </a>

      <a class="news-card-link" href="{% url 'back_info:news_2' %}">
        <div class="news-card">
          <div class="news-img">
            <img src="{% static 'back_info/images/news-2.jpeg' %}?v=2" alt="">
          </div>
          <div class="news-descr">
            <span class="light-gray">09 августа 2023</span>
            <br>
            <br>
            <h4>Всё для любимых покупателей!</h4>
          </div>
        </div>
      </a>

      <a class="news-card-link" href="{% url 'back_info:news_3' %}">
        <div class="news-card">
          <div class="news-img">
            <img src="{% static 'back_info/images/news-3.jpeg' %}?v=2" alt="">
          </div>
          <div class="news-descr">
            <span class="light-gray">09 августа 2023</span>
            <br>
            <br>
            <h4>Просто звёзды сошлись!</h4>
          </div>
        </div>
      </a>

      <a class="news-card-link" href="{% url 'back_info:news_4' %}">
        <div class="news-card">
          <div class="news-img">
            <img src="{% static 'back_info/images/news-4.jpeg' %}?v=2" alt="">
          </div>
          <div class="news-descr">
            <span class="light-gray">08 августа 2023</span>
            <br>
            <br>
            <h4>Приятный подарок от Edostavka</h4>
          </div>
        </div>
      </a>
    </div>

  </article>



</div>

{% endblock %}