{% extends "back_info/news_0.html" %}
{% block title %}Итальянские травы в подарок от Edostavka.by и Gurmina!{% endblock %}
{% load static %}

  {% block news-title %}Итальянские травы в подарок от Edostavka.by и Gurmina!{% endblock %}
  {% block news-date %}16 августа 2023{% endblock %}
  {% block news-img %}<img src="{% static 'back_info/images/news-1.jpeg' %}?v=2" alt="">{% endblock %}
  {% block news-text %}
    <section class="news_x_text">
      <br>
      <p>Италия – страна кулинарных шедевров. Еда для итальянцев – это причина для радости, тема для разговора, повод для встречи и целый увлекательный мир. Приправа Gurmina Итальянские травы – это многогранное сочетание ароматных трав: базилика и орегано, майорана, тимьяна и розмарина.
      <br>
      <br>
      <p>С 16.08 по 16.09 при покупке на Edostavka.by товаров бренда Gurmina на сумму от 2,99 рублей из специальной подборки, Вы получаете в подарок Приправу Gurmina Итальянские травы, 10г.</p>
      <br>
      <p>Подарок автоматически будет добавлен в Вашу корзину. Вам останется лишь подтвердить заказ.</p>
      <br>
      <p>Акция действует при наличии товара на складе. Подарок возврату, обмену на денежные средства или на другой товар не подлежит.</p>
      <br>
      <h4>Больше покупок — больше выгоды с Edostavka!</h4>
    </section>
  {% endblock %}

  {% block news-1 %}
    <a class="news-card-link" href="{% url 'back_info:news_0' %}">
      <div class="news-card">
        <div class="card-img">
          <img src="{% static 'back_info/images/news-0.jpeg' %}?v=2" alt="">
        </div>
        <div class="card-descr">
          <span class="light_gray">28 августа 2023</span>
          <br>
          <br>
          <h4>1+1 на Edostavka</h4>
        </div>
      </div>
    </a>
  {% endblock %}