{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'back_info/css/terms_definitions.css' %}"/>

<div class="t_and_d_page">
  <article>

    <section class="header">
      <div class="title" id="anchor">
        <h1>Вопрос-ответ</h1>
      </div>
      <div class="description">
        <p>Данный раздел содержит ответы на наиболее распространенные вопросы о работе интернет-магазина и процедуре оформления заказа.</p>
        <p>Пожалуйста, выберите интересующий вас подраздел ниже, чтобы посмотреть соответствующий перечень вопросов и ответов.</p>
      </div>
    </section>

    <section class="content">
      <div class="title">
        <h2>Все вопросы</h2>
      </div>
      <div class="questions-grid">

        <div class="col-1">
          <div class="question">
            <details>
              <summary>Как редактировать или отменить заказ на сайте?</summary>
              <p><span class="date">01.05.2023</span> Оформленные заказы недоступны для редактирования. В случае необходимости отмены заказа, пожалуйста, свяжитесь с нами по телефону 537-08-09 (А1, МТС, Life) или оставьте обращение на сайте. Также отменить заказ возможно в личном кабинете до этапа сборки.
                <br>
                <br>
              В случае оформления "экспресс-доставки" отмена осуществляется только посредством обращения в контакт-центр.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Зачем выбирать адрес доставки?</summary>
              <p><span class="date">02.05.2023</span> Онлайн-гипермаркет организовывает доставку товаров из разных магазинов-складов, которые обслуживают разные адреса. В связи с этим сохраненный адрес в личном кабинете после авторизации  автоматически влияет на отображаемый каталог товаров.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Где указать для экспедитора код домофона?</summary>
              <p><span class="date">03.05.2023</span> Код домофона или иные дополнительные данные для получения заказа Вы можете указать при оформлении заказа в поле «Комментарий» в контактах получателя (раздел «Оформление заказа» -> «Контакты получателя», пиктограмма «Карандаш»).</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Почему не заменили товар?</summary>
              <p><span class="date">04.05.2023</span> В случае отсутствия каких-либо товарных позиций на складе во время комплектования заказа, они могут быть заменены на товар, аналогичный по основным товарным характеристикам (товарная группа, бренд, стоимость). Если замена товара не предложена, значит, на момент комплектования заказа на складе не оказалось товара, который можно было предложить в качестве аналога.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Где оставить комментарий к товару?</summary>
             <p><span class="date">05.05.2023</span> Оставить комментарий можно только к полученному товару в течение 360 дней. Для этого выберите номер заказа в разделе «История заказов» и поставьте оценку для нужного товара с помощью кнопки «Оценить».</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Как подключить/отключить рассылку о статусе заказа?</summary>
             <p><span class="date">06.05.2023</span> Подключить или отключить рассылку sms-сообщений Вы можете в личном кабинете (раздел "Мой профиль" -> "Уведомления").</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Возврат товара</summary>
             <p><span class="date">07.05.2023</span> Срок возврата денежных средств Покупателю в случаях, предусмотренных законодательством или Договором, составляет 7 (семь) дней с момента получения Продавцом письменного требования Покупателя по почтовому адресу: а/я 19, 220019, г. Минск или адресу местонахождения Продавца, а в случае проведения экспертизы – 14 (четырнадцать) дней с момента получения Продавцом письменного требования Покупателя по почтовому адресу: а/я 19, 220019, г. Минск или адресу местонахождения Продавца.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Могу ли оплатить заказ через ЕРИП?</summary>
             <p><span class="date">08.05.2023</span> На данный момент такой возможности нет. Рекомендуем использовать оплату банковской картой онлайн с помощью провайдера АССИСТ.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>У меня не прошла оплата онлайн</summary>
             <p><span class="date">09.05.2023</span> Вы можете повторить попытку оплаты через 15 минут в личном кабинете в разделе "История заказов" (для этого нажмите на системный знак «Мигающей иконки» рядом с номером заказа).</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Как отредактировать заказ, оплаченный онлайн?</summary>
             <p><span class="date">10.05.2023</span> Функция редактирования для заказов, оплаченных банковской картой онлайн, недоступна. Вы можете оформить новый заказ и добавить в него интересующие товары.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Какие способы оплаты заказа есть?</summary>
             <p><span class="date">11.05.2023</span> Вы можете выбрать оплату заказа наличными, банковской платежной картой при получении заказа или онлайн. Более подробная информация о способах оплаты заказов по ссылке.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Хочу оплатить заказ удаленно для своих близких</summary>
             <p><span class="date">12.05.2023</span> Рекомендуем воспользоваться онлайн оплатой заказа. Для этого выберите при оформлении заказа способ оплаты "Банковской картой онлайн". Подробная информация размещена по ссылке.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Как узнать к какой зоне доставки относится мой адрес?</summary>
             <p><span class="date">13.05.2023</span> Узнать зону обслуживания можно по ссылке.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Как изменить адрес доставки при использовании льготных условий?</summary>
             <p><span class="date">14.05.2023</span> Изменение адреса доставки при использовании льготных условий возможно 1 раз в 6 месяцев. Для добавления нового адреса обратитесь, пожалуйста в Контакт-центр по номеру телефона 537 08 09 (МТС, А1, Life).</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Можно ли получить заказ в точно выбранное время?</summary>
             <p><span class="date">15.05.2023</span> Обратите внимание, что доставка осуществляется только в пределах выбранного интервала.Рекомендуем Вам обсудить возможность получить заказ в удобное для Вас время с экспедитором, контактный номер телефона будет указан в sms-уведомлении.</p>
            </details>
          </div>
        </div>

        <div class="col-2">
          <div class="question">
            <details>
              <summary>Мне не нравится замена.</summary>
             <p><span class="date">01.12.2022</span> Вы можете отказаться от замененной позиции в момент доставки заказа и вернуть ее курьеру.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Как указать дополнительную информацию для экспедитора?</summary>
             <p><span class="date">02.12.2022</span> Дополнительная информация может быть указана в поле Примечание к заказу на странице оформления заказа.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Как указать точный вес для весового товара?</summary>
             <p><span class="date">03.12.2022</span> Весовые товары комплектуются согласно указанной фасовке на сайте, выбор размера и количества товаров не предусмотрен</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Почему итоговая сумма заказа отличается?</summary>
             <p><span class="date">04.12.2022</span> Итоговая сумма заказа может отличаться от суммы, указанной при оформлении заказа на сайте, в случае наличия в заказе весовых товаров или не возможности замены отсутствующих товаров.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Где я могу увидеть информацию об отсутствии товара?</summary>
             <p><span class="date">05.12.2022</span> После комплектации заказа мы отправляем на Ваш e-mail электронное письмо, где отражены все изменения и окончательная сумма заказа. В нем можно увидеть все присутствующие товары в заказе еще до приезда экспедитора.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Как сделать заказ?</summary>
             <p><span class="date">06.12.2022</span> Оформление заказа доступно зарегистрированным пользователям нашего сайта. Вы можете пройти регистрацию или войти в личный кабинет, если уже зарегистрированы, по ссылке. После авторизации, добавьте в корзину необходимые товары, укажите адрес доставки, а также желаемое время доставки и способ оплаты. </p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Мне не выдали чек при оплате онлайн</summary>
             <p><span class="date">07.12.2022</span> Согласно законодательству Республики Беларусь, заменой кассового чека при оплате онлайн является чек, отправленный в момент оплаты на e-mail покупателя.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Могу ли я воспользоваться сертификатом для оплаты заказа?</summary>
             <p><span class="date">08.12.2022</span> Онлайн-гипермаркет Е-доставка и магазины Евроопт являются разными юридическими лицами, поэтому, к сожалению, оплатить покупки в Е-доставка сертификатами Евроопт нет возможности.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Случайно выбрал способ оплаты онлайн, теперь хочу изменить</summary>
             <p><span class="date">09.12.2022</span> В заказы, в которых был выбран способ оплаты банковской картой онлайн, внести изменения нельзя. Рекомендуем отменить уже оформленный заказ и затем оформить новый заказ с удобным способом оплаты.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Выбрал не тот способ оплаты (картой или наличными)</summary>
             <p><span class="date">10.12.2022</span> Каждый экспедитор имеет при себе терминал для оплаты картой, поэтому Вы можете определиться со способом оплаты (наличными или картой) при получении заказа.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Какие документы выдаются к заказу?</summary>
             <p><span class="date">11.12.2022</span> Экспедитор передает Вам заказ, а также кассовый или фискальный чек (в случае оплаты через терминал), подтверждающий оплату.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Могу ли оплатить заказ картой рассрочки?</summary>
             <p><span class="date">12.12.2022</span> Вы можете оплатить заказ пластиковой банковской карточкой Visa, VisaElectron, MasterCard, MasterCardElectronic, MasterCard Maestro, Белкарт, картой рассрочки «Карта Покупок» (рассрочка предоставляется на 1 месяц), картой рассрочки «Магнит» (рассрочка предоставляется на 1 месяц), картой рассрочки «Е-Каникулы» (рассрочка предоставляется на 1 месяц), картой рассрочки «Халва» (рассрочка предоставляется на 1 месяц), картой рассрочки «SMARTкарта» (рассрочка предоставляется на 1 месяц), кредитной картой Приорбанка (рассрочка предоставляется на 1 месяц). При оплате картой «СТАТУСкарта» ОАО «СтатусБанк» покупателю возвращаются денежные средства (мани-бэк) в размере 3% от суммы покупки.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Как добавить/изменить еще один адрес доставки?</summary>
             <p><span class="date">13.12.2022</span> Добавить новый адрес можно при оформлении заказа. Для этого, при добавлении первого товара в корзину, необходимо указать новый адрес доставки и сделать его основным.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Почему так много пакетов с заказом?</summary>
             <p><span class="date">14.12.2022</span> Обратите, пожалуйста, внимание, что мы упаковываем товары, соблюдая товарное соседство. Вместе с этим, Вы всегда можете вернуть лишние пакеты экспедитору.</p>
            </details>
          </div>

          <div class="question">
            <details>
              <summary>Где увидеть полученную скидку?</summary>
              <span class="date">15.12.2022</span> <span>Итоговая сумма скидки будет отображена на странице оформления заказа (переход по нажатию кнопки «Оформить заказ»).</span>
               <br>
               <abbr title="autonomous sensory meridian response">ASMR</abbr>
               <br>
               <dfn title="Хозяйственная деятельность по обороту, купле и продаже товаров.">Торговля</dfn>
               <br>
               <q cite="https://mir24.tv/news/14522327">ВДОХНОВЕНИЕ – ЭТО УМЕНИЕ ПРИВОДИТЬ СЕБЯ В РАБОЧЕЕ СОСТОЯНИЕ.</q>
               <br>
               <time datetime="23:00">11 pm.</time>
               <br>
               <blockquote cite="https://www.culture.ru/poems/5828/k-ya-pomnyu-chudnoe-mgnovene">
                  Я помню чудное мгновенье: <br>
                  Передо мной явилась ты,<br>
                  Как мимолётное виденье,<br>
                  Как гений чистой красоты.<br>
                </blockquote>
              <br>
              <a href="{% static 'edostavka/images/milk.png' %}" download>Download image</a>
              <br>
              <a href="#anchor">Anchor</a>

              <br>
              <label for="list-id">Select an item:</label>
              <select id="list-id">
                <option value="1">item 1</option>
                <option value="2">item 2</option>
                <option value="3">item 3</option>
              </select>
              <br>
              <br>
              <a href="https://chiptuner.ru/forum/showthread.php?t=88273" target="link">Fudjitsu</a>
              <iframe name="link" width="400" height="600"></iframe>
              <audio src="{% static 'edostavka/audio/sound.mp3' %}" controls></audio>


            </details>
          </div>
        </div>

      </div>
    </section>
  </article>

</div>
{% endblock %}




















{#          <p>Current time and date: <span id="current-date-time"></span></p>#}
{#      <script>#}
{#        function updateDateTime() {#}
{#          var currentDate = new Date();#}
{#          var formattedDateTime = currentDate.toLocaleString();#}
{#          var element = document.getElementById('current-date-time');#}
{#          element.textContent = formattedDateTime;#}
{#        }#}
{##}
{#        updateDateTime();#}
{#        setInterval(updateDateTime, 1000);#}
{#      </script>#}