.about-us-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.about-us-page .header {
    grid-column: 1/9;
    font-kerning: auto;
}

.about-us-page .header {
    font-size: 2em;
}

.about-us-page .info {
    grid-column: 1/9;
}

.about-us-page .info figure>img {
    margin: 1em 0;
    width: 100%;
}

.info .video {
    margin-top: 2em;
}

.info .video video {
    width: 100%;
}

.about-us-page .contacts-wrapper{
    grid-column: 10/13;
    display: inline;
}

.about-us-page .contacts {
    font-size: 0.9em;
    margin: 1em 0 3em;
    border-left: 1px solid rgb(56, 54, 54);
    padding-left: 0.5em;
    font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
}

.about-us-page .contacts-wrapper h3 {
    margin: 0.6em 0;
}

.contacts-wrapper .certificates {
    grid-column: 10/13;
}

.contacts-wrapper .certificates .custom-cert{
    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.3),
    rgba(0, 0, 255, 0.3)
  ), url("https://openclipart.org/download/319441/bird-logo.svg");
    border: 30px solid transparent;
    background-size: 100% 100%;
    -moz-border-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/314/464/small/abstract-modern-elegant-blue-gold-frame-border-social-media-free-png.png') 15 30;
    -webkit-border-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/314/464/small/abstract-modern-elegant-blue-gold-frame-border-social-media-free-png.png') 15 30;
    -o--moz-border-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/314/464/small/abstract-modern-elegant-blue-gold-frame-border-social-media-free-png.png') 15 30;
    padding: 20px;
    font-family: "Times New Roman", serif;
    line-height: 2em;
    text-align: center;
    z-index: 5;



}

.contacts-wrapper .certificates img{
    width: 100%;
}

.about-us-page .history {
    grid-column: 1/10;
}

.about-us-page .history>h2 {
    margin: 2em 0 0.5em 0;
}

.history .year {
    font-weight: bold;
}

ul li:first-child {
    color: red;
}

ul li:last-child {
    color: green;
}

ul li:nth-child(2) {
    color: orange;
}

.unicode-list {
  list-style: none;
}

.unicode-list li::before {
  content: "\150";
  margin-right: 5px;
}

li::selection {
    background-color: black;
    color: green;
}

.cust-font {
    font-family: Courier, serif, monospace;
}

table th {
    font-size: 1.2em;
    font-style: italic;
}
table td:empty {
  background-color: lightgray;
}

table th, td {
  text-align: center;
  vertical-align: middle;
}