{% extends "base.html" %}

{% block content %}

  <div class="order-list-page">
    <section class="header">
      <h1>Order List</h1>
    </section>

    <section class="order-list">
      {% if order_list %}
      <ul>
        {% for order in order_list %}
          <br>
          <br>
          <br>
          <li>
            Order: {{ order.id }} - Client: {{ order.client }}
            <ul>
              {% for item in order.items.all %}
                <li>
                  <a>{{ item.get_cost }}</a>
                  <a>{{ item.quantity }}x</a>
                  <a>{{ item.product.title }}</a>
                </li>
              {% empty %}
                <li>No products.</li>
              {% endfor %}
            </ul>
            <br>
            <a style="font-weight: bold">Total: ${{ order.get_total_cost }}</a>
          </li>
        {% empty %}
          <li>No orders found.</li>
        {% endfor %}
      </ul>
    </section>
       <br>
      <br>
      <br>
    <section class="metrics">
      <p style="font-weight: bold">Total: {{ total_cost }}$</p>
      <p style="font-weight: bold">Average: {{ average_cost }}$</p>
      <p style="font-weight: bold">Mode: {{ mode_cost }}$</p>
      <p style="font-weight: bold">Most Common: {{ most_common_item_name }}$</p>
    </section>
    {% else %}
      <p>There are no orders.</p>
    {% endif %}


  </div>

{% endblock %}


