{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'edostavka/css/home.css'%}"/>


  <div class="home-banner">
    <a href="https://mak.by/ru/vyibiraj-svoe-trio-za-5,5-rub.!.html" target="_blank"><img src="../static/edostavka/images/mac-by-5f5.png" alt="Ad Banner"></a>
    <div class="banner-text">
      <p>Перейти на mac.by</p>
    </div>
  </div>

  <div class="home-news">
    <h1>eDostavka Home</h1>
    <p>
      Welcome to eDostavka, a website developed by
      <em>Mozilla Developer Network</em>!
    </p>
    <h2>Dynamic content</h2>
    <p>The site has the following record counts:</p>
    <ul>
      <li><strong>Products:</strong> {{ num_products }}</li>
      <li><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
      <li><strong>Quote:</strong> {{ quote }}</li>
    </ul>
  </div>

  <div class="home-partners">



</div>

{% endblock %}
